/* Colors */
$background:          #F1F1F1;
$black:               #000000;
$blue:                #1e64ab;
$blue-dark:           #0c1eab;
$dark:                #333333;
$gray-dark:           #7f7f7f;
$gray-light:          #E1E1E1;
$gray:                #EEEEEE;
$orange-dark:         #E96015;
$orange:              #FF5A13;
$red:                 #EF4445;
$white:               #FFFFFF;

/* */

$normal:              21px;

$null:                0;
$quarter:             25%;
$third:               33.33%;
$half:                50%;
$sixth:               66.66%;
$full:                100%;
